:root{
    --bg-color: darkgray;
    --bg-colorDark:black;
    --font-branco: #FFF;
    --font-size: 35px;
    

    /*sempre bom meter as variáveis aqui no root pra poder aplicar pra tudo que quiser*/

}






body{

    margin: 0;/*ff= vermelho, ff=verde, ff=azul  */
    /* 0=nada da tonalidade  F=tudo da tonalidade*/
    background-color: var(--bg-colorDark) ;
    font-size: var(--font-size) ;
    height:600px;
    font-family: 'Courier New', Courier, monospace;
}

table{
    background-color: var(--bg-branco);
}

@media (max-width: 600px) {/*funciona quase como se fosse um if*/
    body{
        background-color: #FFFFFF
    }
    h1{
        font-size: 15px;
    }
}
/*"ALL" aplica para todas as condições*/
/*existe também o ONLY SCREEN, que é para só aparecer na tela(fazer o contrário)*/
@media only print{/*só aparece quando vai imprimir*/
    h1{
        font-size:69px;
        font-weight: normal;
    }

    table, td{
        border: 0;
    }
}

@media (min-width: 750px) and (max-width:999px){/*funciona quase como se fosse um if*/
    body{
        background-color: var(--bg-color);
        display: flex;
    }
}

h1{
    font-size: 3em;
}

.box{

    font-size: 2em;
    background-color: #999;
    /*width:50%;/*50% do espaço disponível que ele tem*/
    height: 100vh;/*viewport mostra exatamente o tamanho disponível pro usuário visualizar*/
    width: 100vw; /*agora a largura do tamanho da tela*/
    /*height: 50vmin;    isso aqui é melhor pro celular  */
}

.box h1{
    font-size: inherit;
}

.box-interno{
/*o 'em' vai mulltiplicando para cada 'em' acima dele*/
    width: 10em;/*'em' é baseado no font-size do item PAI (no caso 20px)*/
    height: 10rem;/*existe também o 'rem'(r vem de root, então só multiplica pela raiz)*/
    background-color: #333;
    color: #fff;
    width: 15ch;/*para fontes monospace, cria um espaço para uma quantidade específica de characteres*/
}

img{
    width:400px; 
    height:height;

    /*EXEMPLOS de funções


    width: max(50%, 300px);/*fica fixo em 300pixels/
    width: min(50%, 300px);
    width: calc(100% - 20px);
    */


    object-fit: contain;
    /*fill/cover/contain/none/scale-down: cover corta a imagem*/
    

}


/*landscape(horizontal)/portrait(vertical)*/
/*""if orientation== landscape""*/
@media (orientation: landscape) {
    body{
        flex-direction: row;
    }
}

/* no celular por exemplo, quando voce muda de modo retrato para paisagem, o site tende a mudar de formato também */
@media (orientation: portrait) {
    body{
        flex-direction: column;
    }
}

@media(aspect-ratio: 1/1){
    
    body{
        --vermei:red;               /* usar outra cor após a vírgula caso não tenha a outra cor*/
        background-color:var(--vermei, blue);
    }
}

@media (min-aspect-ratio: 2/1){
    body{
        background-color:orange;
    }
}

@media (max-aspect-ratio: 2/1){
    body{
        background-color:purple;
    }
}

@media (max-width: 650px){
    :root{
        --font-size:20px
    }
}


.video{
    width:600px;
}

.video-area{
    position:relative;
    height: 0;
    /*background-color: #CCC;*/
    padding: 0px 0px 56.25%;
}

.video-area iframe{
    position:absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 0px;
}

