

body{
    font-family: Oswald, "Helvetica";
    margin:0;
}

header .line{
    background-color: #117050;
    height: 10px;
}

.container{
    max-width:1140px;
    margin: auto;   
}

.bar{
    background-color: #117050;
    width: 168px;
    height:22px;

}

h1{
    font-size:90px;
    font-family: Oswald, sans-serif;
    font-weight: bold;
    line-height:100px;
    margin:0;
    margin-bottom:30px;
}

h2{
    font-size:35px;
    font-family: Oswald, sans-serif;
    font-weight: bold;
    line-height: 30px;
    margin:20px 0;
}

.header--area{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height: 100px;
    
}

.header-left img{
    width:64px;
    height:64px;
}

.header--right{
    display:flex;
    align-items:center;
}

.button{
    display: inline-block;
    border: 2px solid #454545;
    padding: 10px 30px;
    border-radius: 5px;
    color:#454545;
    text-decoration: none;
}

.button:hover{
    color: #FFF;
    background-color: #454545;
}

.header--search form{
    display:flex;
}

.header--search input{
    font-size: 16px;
    padding:10px 13px;
    border:1px solid #999999;
    outline:0;
    width:100%;
    max-width: 250px;
}

.header--search button{
    border: 0;
    background: transparent;
    margin-left: -30px;
    cursor: pointer;
}

.header--search button img{
    width: 16px;
    height: 16px;
}

.header--menu{
    margin-left:50px;
    cursor: pointer;
}

.header--menu img{
    width:24px;
    height:24px;
}

.banner{
    background-image: url('../images/bg.jpg');
    background-position:center;
    background-size: cover;
    padding-top: 90px;
    padding-bottom:90px;
} 



.banner--images{
    margin-top: 60px;
}

.banner--images img{
    width:148px;
    height:148px;
    border:6px solid #117050;
    border-radius:50%;
    margin-right: 40px;
}

.area1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.area1--content{
    padding: 80px;
}

.area1--quote{
    margin-bottom: 30px;

}

.area1--text{
    margin-bottom: 50px;
    line-height: 25px;
}

.area1--img1{
    background-color: #117050;
    height:350px;
    background-image:url('../images/f2.jpg');
    background-size: cover;
    background-position: center;
}
.area1--img2{
    grid-column: 2 / 3;
    grid-row:1 / 3;
    background-image:url('../images/f1.jpg');
    background-size: cover;
    background-position: center;
}

/**/

.area2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.area2--content{
    padding: 80px;
}

.area2--quote{
    margin-bottom: 30px;

}

.area2--text{
    margin-bottom: 50px;
    line-height: 25px;
}

.area2--img1{
    background-color: #117050;
    height:450px;
    background-image:url('../images/f4.jpg');
    background-size: cover;
    background-position: center;
}
.area2--img2{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-image:url('../images/f3.jpg');
    background-size: cover;
    background-position: center;
}

.area3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.area3--content{
    padding: 380px 80px;
    background-image: url('../images/bg2.jpg');
    background-size: cover;
    background-position: left;
}

.area3--text{
    margin-bottom: 50px;
    line-height: 25px;
}

.area3--img1{
    background-image: url('../images/f5.jpg');
    background-size: cover;
    background-position: center;
}

.area4{
    display: grid;
    grid-template-columns: 690px 1fr;
    background-color: #e8e9ee;

}

.area4--content{
    padding:160px;

}

.area4--text{
    margin-bottom: 50px;
    line-height: 25px;
}

.area4--img1{
    background-image: url('../images/bg3.jpg');
    
    background-position: left;
}

.area5{
    background-image: url('../images/bg4.jpg');
    background-size: cover;
    background-position: center;
    height:690px;
}

footer{
    background-color: #333;
    color: #fff;
    padding: 80px;
    text-align: center;
}