*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


body{
    margin:0;
    padding:0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 16px;
    overflow-x: hidden ;/*todo conteudo que ultrapassar a horizontal vai ser escondido*/
}

header{
    height:100px;
    background-color: black;
    color:white;
}


/*/////HEADER///HEADER////HEADER////HEADER////HEADER//////HEADER/////////HEADER//////////*/
.header{
    max-width: 1140px;
    height: 100px;
    /**background-color: grey;                   tirar comment pra ver a área*/
    margin: auto;
    display:flex;
    align-items: center;
}



.logo{
    width:100px;


}

.logoimg{
    width:80px;
    height:80px;
    background-color: #b28756;
    border-radius: 40px;
}

.menu{
    flex:1;
    /**background-color:red;           /*cor da area do menu*/
    display:flex;
    justify-content:flex-end;/*conteúdo vai ser organizado na direita, no fim da div*/
}

.menu ul,
.menu li{
    list-style: none;/*sem pontinhos*/
}

.menu ul{
    display:flex;/*menu vai ficar com itens um ao lado do outro*/

}

.menu li a{
    color:white;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    display:flex;/*porque precisa aumentar a altura*/
    align-items: center;

    /*border-bottom:5px solid #000;       se quiser tirar o "pulinho do hover"*/

}

nav .active a, /*active pra mostrar qual a página está ativa (mudar depois)*/
.menu li a:hover{
    border-bottom: 3px solid #b28756;/*hover vai ficar na cor laranjinha do awax*/
    color:rgb(163, 162, 162);
}





/*////BANNER////BANNER///BANNER//////BANNER////////BANNER/////BANNER//////BANNER///////////////*/

.banner{
    background-color:#333;/*enquanto a imagem não carrega, esse é o fundo que vai aparecer*/

    /*height:100vh;/*100vh é 100% da altura do que está aparecendo pro usuário (view height*/
    height:calc(100vh - 100px);/*mesma coisa, mas vai descontar a altura do header*/
    /*abaixo daqui vai gerar uma barra de rolagem*/
    background-image:url('https://images3.alphacoders.com/693/thumb-1920-693872.jpg');
    background-size:cover; /*ajustar para 'cobrir/cover' todo o espaço*/
    background-position: center;
    overflow:hidden;/*tudo que passar da largura do banner vai ser escondido*/
}

.banner .sliders{
    /*tem que ter no mínimo a largura de X slides dentro dele*/
    width:1000vw; /* tamanho de 10 slides*/
    height:100%;
    /*background-color:red;*/
}


.banner .slide{

    width:100vw;
    height:100%;
    display:inline-block;
    background-color: rgba(0,0,0,0.7);/*mudando a transparencia para escurecer o banner*/

}

.banner .sliderarea{
    display:flex;
    height:100%;
    justify-content:center;
    align-items: center;
    color:#FFF;
    flex-direction: column;
}

.banner h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}

.banner h1 span{
    color: #b28756;
}

.banner h2{
    text-transform: uppercase;
    font-size:15px;
    margin-top: 20px;
}

.banner a{
    display:block;
    background-color: #b28756;
    color: #FFF;
    text-transform: uppercase;
    font-size: 15px;
    font-weight:bold;
    text-decoration: none;
    padding:10px 30px;
    margin-top: 30px;
    border-radius: 20px;

}

.banner .sliders-pointers{
    width:100vw;
    height:20px;
    position: absolute; /*pra aparecer mesmo estando teoricamente escondido pelo banner*/
    /*background-color:red;*/
    margin-top: -69px;
    display:flex;
    justify-self: center;
    align-items: center;
    margin-left: 500px;
}

.banner .pointer{
    width: 15px;
    height:15px;
    border:2px solid #b28756;
    border-radius: 8px;
    margin-right: 5px ;
    margin-left: 5px ;
    cursor: pointer;
    
}

.banner .pointer.active{
    background-color: #b28756;
}

.default {
    /**background-color: red;*/
    padding-top:  50px;
    padding-bottom:  50px;

}

.default .section-desc,
.default .section-title{
    text-align: center;
    text-transform: uppercase;
}

.default .section-title{
    font-size: 20px;
    font-weight: bold;
}

.default .section-desc{
    font-size: 13px;
    font-weight: bold;
    color:rgb(161, 161, 161);
    margin-top: 15px;
    margin-bottom: 40px;
}

.default .section-body{
    margin:auto;
    max-width: 1140px;
    
}

.default.light{
    background-color: #F7f7f7;
}

.default.light .section-title,
.default.light .section-body{
    color: black;
}

.default.dark{
    background-color: #000;
}

.default.dark .section-title,
.default.dark .section-body{
    color:#FFF;
}


.button{
    display:inline-block;
    background-color: #b28756;
    color: #FFF;
    text-transform: uppercase;
    font-size: 15px;
    font-weight:bold;
    text-decoration: none;
    padding:10px 30px;
    margin-top: 30px;
    border-radius: 20px;

}









/*/////////AREA ESPECÍFICAS/////AREA ESPECÍFICAS//////////AREA ESPECÍFICAS////////////AREA ESPECÍFICAS///////////////*/


.section-aboutus{
    display: flex;
}

.section-aboutus--left{
    flex:1;
}

.section-aboutus--left p{
    font-size: 17px;
    line-height: 24px;
    
}

.section-aboutus--right{
    width:520px;
    text-align: center;
    /*background-color:red;*/
}

.section-aboutus--right img{
    width: 480px;
    box-shadow: 5px 10px 30px #000;
}


.section-services{
    display: flex;
    
    margin:auto;
}

.section-service{
    flex:1;
    text-align: center;
    /*margin-left: 20px;*/
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;/*assim as do meio vão ser mais grossas, mas eu prefiro assim*/
}

.section-service h4{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}


.section-services .section-service img{
    width: 200px;
    box-shadow: 5px 10px 20px #000;
    
}

.section-service p{
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}

.section-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-projects--filters{
    border:1px solid #333;
    background-color: rgb(218, 216, 216);
    border-radius:30px;
    display: inline-block;/*só pega a área que precisa*/
    padding: 0px 20px;

}

.section-projects--filters ul,
.section-projects--filters li{
    list-style: none;
}

.section-projects--filters li{
    display:inline-block;
    padding:10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #999;
    border-bottom: 3px solid #EEE;
}

.section-projects--filters li:first-child{
    border-left: 0;
}

.section-projects--filters li:hover{
    border-bottom: 3px solid #b28756;/*hover vai ficar na cor laranjinha do awax*/
    color:rgb(26, 26, 26);
    background-color: rgba(51, 51, 51, 0.11);
    cursor: pointer;
}

.section-projects--photos{
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;/*para quebrar a linha*/
    justify-content:center;

}

.section-projects--photo{
    width: 280px;

}