#titulo { 
    color:blue ;
    font-size:15px;
}
a{
    color:purple ;
}
img{
    width: 200px;
}

li{
    font-weight: bold ; 
    
}
.texto{
    color:green;
    font-size: 25px;
}


#titulo,
 .texto {
    color:blue ;
    font-size:30px;
    font-weight: bold ;
}

ol li {
    color: yellowgreen ;
}