.container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.item {
    background-color:blue;
    border-radius: 10px;
    padding: 20px;
    color:#fff;
    font-size:20px;
}